body {
    font-family: 'Arial', sans-serif;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    color: white;
}

#gameCanvas {
    display: block;
    background-color: #111;
    border: 1px solid #999;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
}

#gameContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#score {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

button {
    background-color: #61dafb;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
}

#pause-menu {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2rem;
    border-radius: 5px;
    text-align: center;
}